<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider JS</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>
    <div id="root">
        <div @mouseenter="stoptimer" @mouseleave="timer" class="container">
            <div class="items">
                
                <div v-for="(item,index) in countriesList" class="item" :class="{active : index===current}">
                    <img :src="item.image" :alt="item.name">
                    <div class="text">
                        <p>{{item.text}}</p>
                    </div>
                </div>
                
            </div>

            <div class="thumbs">
                <div @click="prevItem" class="prev"></div>
                <div @click="activateItem(index)" v-for="(element, index) in countriesList" class="thumb" :class="{active : element.isActive}">
                    <img :src="element.image" :alt="element.name">
                </div>
                <div @click="nextItem" class="next"></div>
            </div>
        </div>
    </div>
    

    <script src="js/script.js"></script>
</body>
</html>